.ui.input {
  margin: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.addButton {
  display: flex !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
